.app {
  background-color: #b4bcc4;
  display: grid;
  place-content: center;
  height: 100vh;
}

.app__body {
  background-color: #fafafa;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 70vh;
  width: 60vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__body > h3 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app__input {
  height: 50px;
  width: 40vw;
  border: 1px solid lightgray;
  border-radius: 30px;
  background-color: #fafafa;
  margin-top: 20px;
}

.app__input > input {
  border: none;
  outline: none;
  background-color: #fafafa;
  margin-top: 15px;
  margin-left: 15px;
}

.app__help {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 70px;
}
